    <header class="navbar navbar-fixed-top bg-dark">
      <div class="container">
        <%= link_to "sample app", root_path, id: "logo" %>
        <nav class="navbar-nav">
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Log in", '#' %></li>
            <li><%= link_to "Contact", contact_path %></li>
          </ul>
        </nav>
      </div>
    </header>